<script type='text/x-handlebars-template' id='template'>


    <div id="bulk-download-items"></div>
    <!--<br>-->
    <!--<div id="go-to-section"></div>-->

</script>



<script type='text/x-handlebars-template' id='dropdown_item'>

    <div class='row'>
        <div class='col-xs-12'>
                <a  target='_blank' class="bulk-list" href='{{item_url}}'>
                    <i class='fa fa-archive'></i> {{item_text}} <span class='badge' style='float: right;'>{{item_size}}</span>
                </a>
        </div>
    </div>

</script>


<script type='text/x-handlebars-template' id='dropdown_items'>

    {{#if show_header}}
    <div class='row'>
        <div class='col-xs-12'>
            <br>
            <p>{{bulk_downloads_welcome}}</p>
            <h3>{{bulk_downloads}}</h3>
        </div>
    </div>
    {{/if}}

    <div class='row'>
        <div class='col-xs-12'>
            {{#if bulk_downloads_list}}
                <ul style="list-style-type: none; padding: 0; margin: 0;">
                    {{#each bulk_downloads_list}}
                        <li style="padding-top: 2px;">
                            <h5>
                                <a  target='_blank' class="bulk-list" href='{{item_url}}'>
                                    <i class="fa fa-archive"></i>&nbsp;{{item_text}}
                                    <!--<i class="fa fa-file-archive-o"></i>&nbsp;{{item_text}}-->
                                </a>
                                <span class='badge pull-right'>{{item_size}}</span>
                            </h5>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>{{{no_bulk_downlaod_available}}}.</p>
            {{/if}}
        </div>
    </div>

</script>



